.btn {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 13px 17px;
    font-size: 13.027px;
    font-weight: 500;
    letter-spacing: 0.13px;
    cursor: pointer;

    &-border {
        border: 1px solid $violet-btn;
        color: $violet-btn;
        transition: all 0.3s ease-in;

        &:hover {
            background: $violet-btn;
            color: $white;
        }
    }

    &-violet {
        background: $violet-btn;
        color: $white;
        transition: all 0.3s ease-in;

        svg {
            fill: $white;
            transition: all 0.3s ease-in;
        }

        &:hover {
            background: $progress-bar-orange-val;
            color: $black;
        }

        &:hover svg {
            fill: $black;
        }
    }

    @media (min-width: $desktop) {
        border-radius: 12px;
        padding: 18px 30px;
        font-size: 16px;
    }
}