.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 540px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    @media (min-width: $tablet) {
        padding: 0 49px;
        max-width: none;
    }

    @media (min-width: $big-tablet) {
        padding: 0 70px;
    }

    @media (min-width: $desktop) {
        padding: 0 100px;
    }
  }