.purchases-group {
    border-radius: 15px;
    background: $white;
    border: 1px solid $border-light-grey;
    padding: 27px 22px 26px 24px;
    box-shadow: 0 40px 30px 5px $box-shadow;

    @media (min-width: $big-tablet) {
        padding: 32px 27px;
        border-radius: 18px;
    }

    @media (min-width: $desktop) {
        padding: 46px 40px;
        border-radius: 25px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 26px;

        @media (min-width: $desktop) {
            margin-bottom: 46px;
        }
    }
 
    &__title {
        color: $select;
        font-family: $manrope;
        font-size: 17px;
        font-weight: 800;
        line-height: 135%;
        letter-spacing: 0.186px;

        @media (min-width: $big-tablet) {
            font-size: 20px;
        }

        @media (min-width: $desktop) {
            font-size: 28px;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 13px;
    }
}