.review {
    flex: 0 0 auto;
    max-width: calc(100vw - 30px);
    background: $white;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
    border: 1px solid $mark-save;
    font-family: $poppins;

    &__header {
        display: flex;
        align-items: center;
    }

    &:nth-child(n+2) .review__header {
        @media (min-width: $big-tablet) {
            display: none;
        }
    }

    &__user-photo {
        @media (min-width: $desktop) {
            width: 70px;
            height: 70px;
            margin-right: 20px;
        }
    }

    &__user-info {
        display: flex;
        flex-direction: column;
    }

    &__user-name {
        font-size: 13px;
        font-weight: 800;
        color: $user-name;

        @media (min-width: $big-tablet) {
            font-size: 15px;
        }

        @media (min-width: $desktop) {
            font-size: 20px;
        }
    }

    &__user-data {
        display: flex;
        gap: 12px;
        align-items: center;
        font-family: $quicksand;
        font-size: 10px;

        @media (min-width: $big-tablet) {
            font-size: 12px;
        }

        @media (min-width: $big-tablet) {
            font-size: 16px;
        }
    }

    &__right-icon {
        margin-left: auto;
        width: 58px;
        height: 48px;
    }

    &__rating {
        justify-content: flex-start;

        @media (min-width: $desktop) {
            margin-top: 8px;
        }
    }

    &__text {
        font-size: 11px;
        text-align: justify;

        @media (min-width: $big-tablet) {
            font-size: 13px;
        }

        @media (min-width: $desktop) {
            font-size: 18px;
        }
    }

    @media (min-width: $tablet) {
        max-width: 100%;
    }

    @media (min-width: $big-tablet) {
        max-width: calc(100% / 2.3 - 33px);
        height: min-content;
    }

    @media (min-width: $desktop) {
        padding: 38px 43px;
        border-radius: 20px;
        gap: 32px;
    }
}