.top-rests {
    padding: 84px 0 66px;
    border-bottom: 1px solid $header-line;
    position: relative;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        color: $graph;
        text-align: center;
        font-family: $poppins;
        font-size: 30px;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 59px;

        @media (min-width: $big-tablet) {
            font-size: 32px;
        }

        @media (min-width: $desktop) {
            font-size: 45px;
            margin-bottom: 86px;
        }
    }

    &__list {
        margin: 0 0 61px 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (min-width: $big-tablet) {
            flex-direction: row;
        }
    }

    &__item {
        border-radius: 23px;
        background: $white;
        box-shadow: 5px 57px 28px 0px $box-shadow-rest;
    }

    &__img {
        border-radius: 23px 23px 0 0;

        @media (min-width: $desktop) {
            width: 400px;
            height: auto;
        }
    }

    &__info {
        padding: 9px 21px 14px 27px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__name {
        color: $graph;
        font-family: $poppins;
        font-size: 20.512px;
        font-weight: 600;
        line-height: 162.5%;
        text-decoration: none;

        @media (min-width: $big-tablet) {
            font-size: 18px;
        }

        @media (min-width: $desktop) {
            font-size: 26px;
        }
    }

    &__group-text,
    &__rating {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $grey-time;
        font-family: $manrope;
        font-size: 15.384px;
        font-weight: 400;

        @media (min-width: $big-tablet) {
            font-size: 14px;
        }

        @media (min-width: $big-tablet) {
            font-size: 19px;
        }
    }

    &__btn-mark {
        position: absolute;
        width: 32px;
        height: 32px;
        bottom: 14px;
        right: 21px;
        border: none;
        border-radius: 50%;
        background: $mark-save;
        color: $violet-btn;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in;
        cursor: pointer;

        & svg {
            color: $violet-btn;

            @media (min-width: $desktop) {
                width: 14px;
                height: 20px;
            }
        }

        &:hover {
            color: $white;
            background: $violet-btn;
        }

        &:hover svg use {
            color: $white;
        }

        @media (min-width: $big-tablet) {
            width: 28px;
            height: 28px;
        }

        @media (min-width: $desktop) {
            width: 40px;
            height: 40px;
        }
    }

    &::after {
        @media (min-width: $desktop) {
            content: '';
            display: block;
            width: calc(100vw - 97px * 2);
            height: 1px;
            background: $header-line;
            position: absolute;
            left: 97px;
            bottom: 0;
        }
    }

    @media (min-width: $desktop) {
        padding: 100px 0;
        border: 1px solid transparent;
    }
}