// Fonts
$poppins: 'Poppins', sans-serif;
$inter: 'Inter', sans-serif;
$jakarta: 'Plus Jakarta Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$public: 'Public Sans', sans-serif;
$manrope: 'Manrope', sans-serif;
$quicksand: 'Quicksand', sans-serif;

// Media
$mobile: 375px;
$tablet: 768px;
$big-tablet: 992px;
$desktop: 1440px;

// Colors
$bg-white: #F9F9F9;
$white: #fff;
$violet: #5C4EAE;
$violet-btn: #6C5FBC;
$dark-violet: #5144A0;
$progress-bar: rgba(108, 95, 188, 0.2);
$black: #201F1F;
$black-text: #18181B;
$user-name: #030314;
$burger: #282828;
$graph: #323142;
$select: #1A202C;
$rating-val: #334155;
$footer-menu: #606060;
$footer-link-tablet: #999999;
$grey-text: #676767;
$input: #878787;
$grey-time: #8E97A6;
$light-grey-text: #C5BFED;
$header-line: #CBCBCB;
$about-us-line: #C5C5C5;
$about-us-line-tablet: rgba(197, 197, 197, 0.15);
$grey-time: #ACADB9;
$percent: #A0AEC0;
$mark-save: #DBD9EE;
$footer: #EFEFEF;
$border-light-grey: #EDF2F7;
$border-card: #F4F4F6;
$icon: #F4F0FF;
$bg-select: #FAFAFA;
$bg-stiker: #F7EDD0;
$stiker-color: #DAA31A;
$bg-red-stiker: #F7C5BA;
$progress-bar-orange-val: #FBAD18;
$progress-bar-orange: rgba(251, 173, 24, 0.2);
$stiker-red-color: #FB471D;
$status-cancel: #F1534E;
$bg-green-stiker: rgba(51, 72, 100, 0.2);
$stiker-green-color: #309D5B;
$icon-green: #F2FDF6;
$box-shadow: rgba(0, 0, 0, 0.15);
$box-shadow-rest: rgba(229, 229, 229, 0.70);
$box-shadow-control: rgba(70, 70, 70, 0.1);